<IfModule mod_expires.c>
    ExpiresActive On
    
    # Imagens (Validade de 1 ano para o navegador guardar em cache)
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    
    # CSS e Javascript (Validade de 1 mês para atualizações de layout)
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    
    # Fontes Orbitron/Webfonts (Validade de 1 ano)
    ExpiresByType font/woff2 "access plus 1 year"
</IfModule>
